# Project 3 part 3
Susan Shin

In [323]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [324]:
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
from urllib.parse import quote_plus as urlquote

In [325]:
basics = pd.read_csv('Data/title_basics.csv.gz')

In [326]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [327]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]

# Create Title_Genre Table

In [328]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
84125,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
84125,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
84125,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
84126,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
84126,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [329]:
exploded_genres["genres_split"].value_counts()

Drama         44625
Comedy        24758
Thriller      12659
Horror        12100
Action        10625
Romance        9975
Crime          7860
Adventure      5626
Mystery        5287
Family         3936
Fantasy        3746
Sci-Fi         3696
Animation      2856
Biography      1922
Music          1844
History        1611
Sport          1086
Musical        1040
War             980
Western         510
Adult           352
Reality-TV       46
Talk-Show        35
News             16
Short            11
Game-Show         3
Name: genres_split, dtype: int64

In [330]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [331]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [332]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [333]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

# Create Genres Table

In [334]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Saving SQL Tables

In [335]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [336]:
connection = f"mysql+pymysql://{'root'}:{urlquote('Iamnumber1now!')}@localhost/movies"
engine = create_engine(connection)

In [337]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [338]:
from sqlalchemy.types import *

key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [339]:
genre_lookup.to_sql('genre_lookup',engine,dtype=df_schema,if_exists='replace',index=False)

26

In [340]:
q = """SELECT * FROM genre_lookup;"""
pd.read_sql(q, engine)

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

In [341]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

157205

In [342]:
q = """SELECT * FROM title_genres;"""
pd.read_sql(q, engine)

           tconst  genre_id
0       tt0035423         5
1       tt0035423         9
2       tt0035423        18
3       tt0062336         7
4       tt0069049         7
...           ...       ...
157200  tt9916190         0
157201  tt9916190         2
157202  tt9916190        23
157203  tt9916362         7
157204  tt9916362        11

[157205 rows x 2 columns]

In [343]:
basics.to_sql('basics',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El Tango del Viudo y Su Espejo Deformante', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0108549', 'titleType': 'movie', 'primaryTitle': 'West from North Goes South', 'originalTitle': 'West from North Goes South', 'isAdult': 0, 'startYear': 2004.0, 'endYear': None, 'runtimeMinutes': 96, 'genres': 'Comedy,Mystery', 'genres_split': ['Comedy', 'Mystery']}, {'tconst': 'tt0113026', 'titleType': 'movie', 'primaryTitle': 'The Fantasticks', 'originalTitle': 'The Fantasticks', 'isAdult': 0, 'startYear': 2000.0, 'endYear': None, 'runtimeMinutes': 86, 'genres': 'Musical,Romance', 'genres_split': ['Musical', 'Romance']}  ... displaying 10 of 84127 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
q = """SELECT * FROM title_basics;"""
pd.read_sql(q, engine)