# Project 3 part 3
Susan Shin

In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
from urllib.parse import quote_plus as urlquote

In [132]:
basics = pd.read_csv('Data/title_basics.csv.gz')

In [133]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [134]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]

# Create Title_Genre Table

In [135]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
84125,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
84125,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
84125,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
84126,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
84126,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [136]:
exploded_genres["genres_split"].value_counts()

Drama         44625
Comedy        24758
Thriller      12659
Horror        12100
Action        10625
Romance        9975
Crime          7860
Adventure      5626
Mystery        5287
Family         3936
Fantasy        3746
Sci-Fi         3696
Animation      2856
Biography      1922
Music          1844
History        1611
Sport          1086
Musical        1040
War             980
Western         510
Adult           352
Reality-TV       46
Talk-Show        35
News             16
Short            11
Game-Show         3
Name: genres_split, dtype: int64

In [137]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [138]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [139]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [140]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

# Create Genres Table

In [141]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Saving SQL Tables

In [142]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [143]:
connection = f"mysql+pymysql://{'root'}:{urlquote('Iamnumber1now!')}@localhost/movies"
engine = create_engine(connection)

In [144]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [145]:
from sqlalchemy.types import *

key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [146]:
genre_lookup.to_sql('genre_lookup',engine,dtype=df_schema,if_exists='replace',index=False)

26

In [147]:
engine.execute('ALTER TABLE genre_lookup ADD PRIMARY KEY (`Genre_ID`);')

In [148]:
q = """SELECT * FROM genre_lookup;"""
pd.read_sql(q, engine)

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

In [149]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

157205

In [150]:
q = """SELECT * FROM title_genres;"""
pd.read_sql(q, engine)

           tconst  genre_id
0       tt0035423         5
1       tt0035423         9
2       tt0035423        18
3       tt0062336         7
4       tt0069049         7
...           ...       ...
157200  tt9916190         0
157201  tt9916190         2
157202  tt9916190        23
157203  tt9916362         7
157204  tt9916362        11

[157205 rows x 2 columns]

In [151]:
basics_1 = basics[['tconst','primaryTitle', 'startYear','runtimeMinutes','genres']]

In [152]:
basics_1.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

84127

In [153]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [154]:
q = """SELECT * FROM title_basics;"""
pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,2002.0,126,Drama
...,...,...,...,...,...
84122,tt9914942,Life Without Sara Amat,2019.0,74,Drama
84123,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
84124,tt9916170,The Rehearsal,2019.0,51,Drama
84125,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
84126,tt9916362,Coven,2020.0,92,"Drama,History"

In [155]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')

In [156]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479207 entries, 0 to 479206
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         479207 non-null  object
 1   averageRating  479207 non-null  float64
 2   numVotes       479207 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.0+ MB

In [157]:
ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

479207

In [158]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [159]:
q = """SELECT * FROM title_ratings;"""
pd.read_sql(q, engine)

           tconst  averageRating  numVotes
0       tt0000001            5.7      1929
1       tt0000002            5.8       261
2       tt0000005            6.2      2557
3       tt0000006            5.1       175
4       tt0000007            5.4       797
...           ...            ...       ...
479202  tt9916204            8.2       251
479203  tt9916348            8.5        17
479204  tt9916362            6.4      5067
479205  tt9916428            3.8        14
479206  tt9916720            5.4       287

[479207 rows x 3 columns]

In [160]:
data2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

data2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')

tmdb = pd.concat([data2000, data2001], axis=0)
 
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,2057.0,PG

In [161]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2508 entries, 0 to 1292
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2508 non-null   object
 1   adult                  2506 non-null   float64
 2   backdrop_path          1324 non-null   object
 3   belongs_to_collection  198 non-null    object
 4   budget                 2506 non-null   float64
 5   genres                 2506 non-null   object
 6   homepage               173 non-null    object
 7   id                     2506 non-null   float64
 8   original_language      2506 non-null   object
 9   original_title         2506 non-null   object
 10  overview               2454 non-null   object
 11  popularity             2506 non-null   float64
 12  poster_path            2231 non-null   object
 13  production_companies   2506 non-null   object
 14  production_countries   2506 non-null   object
 15  release_date           2491 non-null   object
 16  revenue                2506 non-null   float64
 17  runtime                2506 non-null   float64
 18  spoken_languages       2506 non-null   object
 19  status                 2506 non-null   object
 20  tagline                1066 non-null   object
 21  title                  2506 non-null   object
 22  video                  2506 non-null   float64
 23  vote_average           2506 non-null   float64
 24  vote_count             2506 non-null   float64
 25  certification          797 non-null    object
dtypes: float64(9), object(17)
memory usage: 529.0+ KB

In [162]:
tmdb_1 = tmdb[['imdb_id','revenue', 'budget','certification']]
tmdb_1.head()

     imdb_id     revenue      budget certification
0          0         NaN         NaN           NaN
1  tt0113026         0.0  10000000.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694  12854953.0    150000.0            PG

In [163]:
tmdb_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2508 entries, 0 to 1292
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2508 non-null   object
 1   revenue        2506 non-null   float64
 2   budget         2506 non-null   float64
 3   certification  797 non-null    object
dtypes: float64(2), object(2)
memory usage: 98.0+ KB

In [164]:
tmdb_1.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

2508

In [168]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

OperationalError: (pymysql.err.OperationalError) (1170, "BLOB/TEXT column 'imdb_id' used in key specification without a key length")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [166]:
q = """SELECT * FROM tmdb_data;"""
pd.read_sql(q, engine)

        imdb_id     revenue      budget certification
0             0         NaN         NaN          None
1     tt0113026         0.0  10000000.0          None
2     tt0113092         0.0         0.0          None
3     tt0116391         0.0         0.0          None
4     tt0118694  12854953.0    150000.0            PG
...         ...         ...         ...           ...
2503  tt7797670         0.0         0.0          None
2504  tt7797790         0.0         0.0          None
2505  tt8665056         0.0         0.0          None
2506  tt8795764         0.0         0.0            NR
2507  tt9071078         0.0         0.0          None

[2508 rows x 4 columns]

In [167]:
q = '''SHOW TABLES'''
pd.read_sql(q, engine)

  Tables_in_movies
0     genre_lookup
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data